jaxrl5==0.0.1
jaxrl5==0.0.1
tqdm==4.67.3
importlib_resources==6.5.2
zipp==3.23.0
gitdb==4.0.12
rsa==4.7.2
click==8.3.2
google-apitools==0.5.35
dm-env==1.6
cycler==0.12.1
imageio-ffmpeg==0.6.0
frozenlist==1.8.0
asttokens==3.0.1
google-reauth==0.1.1
prompt_toolkit==3.0.52
jedi==0.19.2
gsutil==5.36
gym==0.24.0
PyOpenGL==3.1.10
idna==3.11
optax==0.2.8
aiohttp==3.13.5
aiosignal==1.4.0
urllib3==2.6.3
aiofiles==25.1.0
ptyprocess==0.7.0
Werkzeug==3.1.8
gcs-oauth2-boto-plugin==3.3
kiwisolver==1.5.0
async-timeout==5.0.1
python-dotenv==1.2.2
decorator==5.2.1
uvloop==0.22.1
annotated-types==0.7.0
setuptools==82.0.1
stack-data==0.6.3
cloudpickle==3.1.2
proglog==0.1.12
jax==0.6.2
yarl==1.23.0
psutil==7.2.2
opt_einsum==3.4.0
msgpack==1.1.2
pillow==11.3.0
matplotlib==3.10.8
gast==0.7.0
moviepy==2.2.1
crcmod==1.7
grpcio-tools==1.80.0
boto==2.49.0
toolz==1.1.0
tensorflow==2.20.0
tensorboard-data-server==0.7.2
executing==2.2.1
fonttools==4.62.1
grpcio==1.80.0
scipy==1.15.3
termcolor==3.3.0
pyu2f==0.1.5
cryptography==43.0.3
etils==1.13.0
smmap==5.0.3
sentry-sdk==2.57.0
immutabledict==4.3.1
astunparse==1.6.3
PyYAML==6.0.3
google-auth-httplib2==0.3.1
tensorboard==2.20.0
retry_decorator==1.1.1
pyasn1==0.6.3
simplejson==3.20.2
orbax-checkpoint==0.11.34
httplib2==0.20.4
dmcgym==0.0.1
flax==0.10.7
cachetools==5.5.2
libclang==18.1.1
Markdown==3.10.2
cached-property==1.5.2
dm-tree==0.1.9
namex==0.1.0
rich==14.3.3
MarkupSafe==3.0.3
python-dateutil==2.9.0.post0
google-auth==2.39.0
monotonic==1.6
optree==0.19.0
keras==3.12.1
argcomplete==3.6.3
jaxlib==0.6.2
wcwidth==0.6.0
pure_eval==0.2.3
requests==2.33.1
h5py==3.16.0
mujoco==2.2.0
exceptiongroup==1.3.1
cffi==2.0.0
pyOpenSSL==24.2.1
six==1.17.0
typing_extensions==4.15.0
jaxrl5==0.0.1
protobuf==6.33.5
protobuf==6.33.6
packaging==26.0
pip==26.0.1
google-pasta==0.2.0
platformdirs==4.9.6
traitlets==5.14.3
mdurl==0.1.2
aiohappyeyeballs==2.6.1
waymo-waymax==0.1.0
absl-py==2.4.0
GitPython==3.1.46
dm-control==1.0.3.post1
multidict==6.7.1
flatbuffers==25.12.19
wandb==0.23.0
humanize==4.15.0
wheel==0.46.3
ImageIO==2.37.3
pycparser==3.0
charset-normalizer==3.4.7
pydantic_core==2.41.5
wrapt==2.1.2
mediapy==1.2.6
gym-notices==0.1.0
typing-inspection==0.4.2
pyparsing==2.4.7
certifi==2026.2.25
ml_dtypes==0.5.4
fsspec==2026.3.0
ml_collections==1.1.0
Pygments==2.20.0
markdown-it-py==4.0.0
contourpy==1.3.2
pyasn1_modules==0.4.2
oauth2client==4.1.3
treescope==0.1.10
parso==0.8.6
numpy==2.2.6
pexpect==4.9.0
tensorflow-probability==0.25.0
ipython==8.39.0
matplotlib-inline==0.2.1
pydantic==2.12.5
labmaze==1.0.6
tensorstore==0.1.76
chex==0.1.90
propcache==0.4.1
lxml==6.0.4
attrs==26.1.0
glfw==2.10.0
fasteners==0.20
